.heading-0 {
  background-color: #fff;
  color: #303030;
  text-align: center;
}

.heading-1 {
  background-color: #fff;
  color: #000;
  color: #1c1374;
  text-align: center;
}

.heading-2 {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.pic {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.border {
  width: 50%;
  margin: 0 auto;
  /* color: #f1f; */
  /* background-color: #f1f1f1; */
  justify-content: center;
  align-content: center;
  align-items: center;
}
